<!-- Page Header -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Machiya - Japanese Style Lodges
      <small>September 7th-11st, 2016</small>
    </h1>

    <% if notice = flash[:notice] %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
    <% end %>
  </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">

  <% @lodges.each_with_index do |lodge, i| %>
    <div class="col-md-12 portfolio-item">

      <div class="col-md-4 no_padding">
        <h3>
          <%= lodge.name %>
        </h3>
        <p>
          <strong>Location:</strong> <%= lodge.location %>
        </p>
        <p>
          <strong>Price:</strong> <%= lodge.price_info %>
        </p>
        <p>
          <strong>Room:</strong> <%= lodge.description %>
        </p>
        <p>
          <strong>Url:</strong> <%= link_to lodge.url, "#{lodge.url}", {target: "_blank"} %>
        </p>
        <p>
          <% if lodge.available == true %>
            <%= link_to 'Reserve', reserve_path(lodge_id: lodge.id), {class: "btn btn-default", target: "_blank"}%>
          <% else %>
            Not Available
          <% end %>
        </p>

        <% if current_user.present? %>
          <%= link_to 'Edit', edit_lodge_path(lodge) %>
          <%= link_to 'Destroy', lodge, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>

      <div class="col-md-8 no_padding">
        <% if lodge.picture.present? %>
          <div class="col-md-6 no_padding">
            <%= image_tag lodge.picture_url, class: "img-responsive" %>
          </div>
        <% end %>
        <% if lodge.picture2.present? %>
          <div class="col-md-6 pull-right no_padding">
            <%= image_tag lodge.picture2_url, class: "img-responsive" %>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>

</div>
<!-- /.row -->

<% if current_user.present? %>
  <%= link_to 'New Lodge', new_lodge_path %>
<% end %>
