<p id="notice"><%= notice %></p>

<h1>Machiya - Japanese Style Lodges</h1>
<h3>September 7th-10th, 2016</h3>

<div>&nbsp;</div>

<% @lodges.each do |lodge| %>
  <p>
    <strong>Name:</strong> <%= lodge.name %>
    <% if lodge.available == false %>
      <span class="label label-danger">No vacancy</span>
    <% else %>
      <span class="label label-primary">Available</span>
    <% end %>
  </p>
  <p>
    <strong>Address:</strong> <%= lodge.address %>
  </p>
  <p>
    <strong>Price:</strong> <%= number_to_currency lodge.price, precision: 0, unit: "¥" %>&nbsp;/1person
  </p>
  <p>
    <strong>Url:</strong> <%= link_to lodge.url, "#{lodge.url}", {target: "_blank"} %>
  </p>
  <p>
    <%= link_to 'Reserve', reserve_path(lodge_id: lodge.id), {class: "btn btn-default", target: "_blank"}%>
  </p>

  <% if current_user.present? %>
    <%= link_to 'Edit', edit_lodge_path(lodge) %>
    <%= link_to 'Destroy', lodge, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <hr>
<% end %>

<% if current_user.present? %>
  <%= link_to 'New Lodge', new_lodge_path %>
<% end %>
