<%= form_for(@lodge, url: reserve_path, method: :post) do |f| %>
  <% if @lodge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lodge.errors.count, "error") %> prohibited this lodge from being saved:</h2>

      <ul>
      <% lodge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :id %>
  </div>

  <div class="field">
    <label for="name">Lodge Name</label>
    <%= @lodge.name %>
  </div>

  <div class="field">
    <label for="address">Lodge Address</label>
    <%= @lodge.address %>
  </div>

  <div class="field">
    <label for="person_name">Your Name *</label>
    <%= f.text_field :person_name %>
  </div>

  <div class="field">
    <label for="person_email">Your Email *</label>
    <%= f.text_field :person_email %>
  </div>

  <div class="field">
    <label for="message">Message</label>
    <%= f.text_area :message %>
  </div>

  <div class="actions">
    <%= f.submit 'Reserve' %>
  </div>
<% end %>
