<%= form_for(@lodge, url: reserve_path, method: :post) do |f| %>
  <% if @lodge.errors.any? %>
    <br />
    <% @lodge.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :id %>
  </div>

  <div class="form-group">
    <label for="name">Lodge Name</label>
    <%= @lodge.name %>
  </div>

  <div class="form-group">
    <label for="address">Lodge Location</label>
    <%= @lodge.location %>
  </div>

  <div class="form-group">
    <label for="person_name">Check-in date</label>
    <%= f.text_field :checkin, class: "form-control width_300" %>
  </div>

  <div class="form-group">
    <label for="person_name">Check-out date</label>
    <%= f.text_field :checkout, class: "form-control width_300" %>
  </div>

  <div class="form-group">
    <label for="person_name">The number of people</label>
    <%= f.text_field :number_of_people, class: "form-control width_300" %>
  </div>

  <div class="form-group">
    <label for="person_email">Keyword (promothion code) * Please fill in the special word for ruby kaigi 2016.</label>
    <%= f.text_field :keyword, class: "form-control width_300" %>
  </div>

  <div class="form-group">
    <label for="person_email">Your RubyKaigi2016 Doorkeeper Check In Code</label>
    <%= f.text_field :person_code, class: "form-control width_300" %>
  </div>

  <div class="form-group">
    <label for="person_name">Your Name</label>
    <%= f.text_field :person_name, class: "form-control width_300" %>
  </div>

  <div class="form-group">
    <label for="person_email">Your Email</label>
    <%= f.text_field :person_email, class: "form-control width_300" %>
  </div>

  <div class="form-group">
    <label for="message">Message</label>
    <%= f.text_area :message, class: "form-control width_450" %>
  </div>

  <div class="actions">
    <%= f.submit 'Send' %>
  </div>
<% end %>
