<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lodge.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @lodge.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @lodge.tel %>
</p>

<p>
  <strong>Url:</strong>
  <%= @lodge.url %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @lodge.price, precision: 0, unit: "¥" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lodge.description %>
</p>

<p>
  <strong>Available:</strong>
  <%= @lodge.available %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @lodge.picture %>
</p>

<%= link_to 'Edit', edit_lodge_path(@lodge) %> |
<%= link_to 'Back', lodges_path %>
